.container{
    border-radius: 10%;
    background-color:antiquewhite;
    width: 30%;
    margin-left: 35%;
   
}
.div{
    float: left;
}
img{
    border-radius: 120%;
    margin-left: 25%;
}
h1{
    margin-left: 25%;
    margin-top: 10%;
}
table{
    margin-left: 20%;
    margin-top: 5%;
    font-size: 18px;
}